.testimonial {
    height: 55vh;
    background-color: #fff;
    background-size: cover;
    position: relative;
    z-index: 10;
    margin-bottom:8rem;

    &__heading {
        &::before {
            content: "Testimonial";
        }
    }

    @include respond(phone) {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    &__container {
        background: url(../img/watermarks2.png);

        background-position: center center;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        padding-top: 6rem;
    }

    &__image {
        overflow: hidden;
        width: 30rem;
        position: absolute;
        height: 30rem;
        z-index: -1;
        top: 3rem;
        left: 5rem;
    }

}




#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;

    @include respond(phone) {
        font-size: 2rem;
    }
}

#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

#quote-carousel .carousel-control {
    width: 8%;
}

blockquote {
    padding: 5px 10px;
}

.carousel__container {
    @include respond(tab-port) {
        margin-left: 0 !important;
    }
}

.carousel__box {
    max-width: 80rem !important;
}